In [1]:
# Kaggle Your First Machine Learning Model Tutorial and Exercise

import pandas as pd # Import pandas library for data analysis
import numpy as np # Import numpy library for linear algebra (Unnecessary for this exercise)

melbourne_file_path = 'data/melb_data.csv' # Set file path of the data.
melbourne_data = pd.read_csv(melbourne_file_path) # Read the data and store in a data frame.

In [2]:
melbourne_data.columns # Lists columns in the dataset - helps to choose variables to use for the model.

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
melbourne_data = melbourne_data.dropna(axis=0) # Drop houses with missing values

In [4]:
y = melbourne_data.Price # Select the column to predict (Called y by convention).

In [5]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features] # Select "features" of the data (Called X by convention).
X.describe() # Review the data that will be used for the predictions. (Could also use X.head() ).

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [6]:
from sklearn.tree import DecisionTreeRegressor # Import required tool from the Scikit-Learn library.

melbourne_model = DecisionTreeRegressor(random_state=1) # Define the model and specify a number for random_state (This ensures the same results are produced for each run).

melbourne_model.fit(X, y) # Fit the model.

DecisionTreeRegressor(random_state=1)

In [7]:
print("Making predictions for the following 5 houses:")
print(X.head()) # The first 5 houses in the X dataframe.
print("The predictions are")
print(melbourne_model.predict(X.head())) # For the tutorial making predictions for houses already in the data.

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [9]:
melbourne_data.head().Price #Compare the predictions against the actual values from the dataset.

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64